.textfield {
  outline: none;
  margin: 48px;
  padding: 12px;
  background: url('/public/assets/icons/search-icon.svg') no-repeat 14px 50%,
    #151515;
  padding-left: 40px;

  border-radius: 32px;
  border: 1px solid #545454;

  font-family: 'Inter';
  font-size: 16px;
  color: #fbfbfb;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.textfield:hover {
  transition: border 0.4s ease-in-out, outline 0.4s ease-in-out;
}

.textfield:focus,
.textfield:hover {
  outline: 1px solid #fbfbfb;
  border: 1px solid #fbfbfb;
}
