#search {
  font-size: 2rem;
  color: var(--clr-primary);
  border: var(--clr-primary) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  outline: none;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-primary),
    0 0 0.5em 0 var(--clr-primary);

  position: relative;

  transition: all 0.2s ease-in-out;
}

#search::placeholder {
  color: var(--clr-primary);
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

#search:hover::placeholder,
#search:focus::placeholder {
  color: var(--clr-neutral);
  opacity: 0.7;
}

#search::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-primary);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

#search::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-primary);
  opacity: 0;
  background-color: var(--clr-primary);
  z-index: -1;
  transition: opacity 100ms linear;
}

#search:hover,
#search:focus {
  color: var(--clr-neutral);
  background-color: var(--clr-primary);
  text-shadow: none;
}

#search:hover::before,
#search:focus::before {
  opacity: 1;
}
#search:hover::after,
#search:focus::after {
  opacity: 1;
}
