.cursor {
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: opacity 0.1s ease;
}
