.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.6s ease-out;
}

.loader-fade-out {
  opacity: 0;
}

.loader-circles-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: loader-spin 1.5s linear infinite;
  mask: conic-gradient(
    from 0deg,
    transparent 0%,
    var(--token-color-primary) 100%
  );
}

@keyframes loader-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
