:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

* {
  margin: 0;
  padding: 0;
}

.ant-statistic-title {
  color: #949495 !important;
}
