:root {
  --token-color-primary: #151515;
  --token-color-text: #949495;
  --token-color-accent: #fbfbfb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--token-color-primary);
  min-height: 100vh;
  height: 100%;
}

.general-statistic .ant-statistic-content-value {
  font-family: 'Playfair Display', serif;
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 700;
  line-height: 0;
  color: var(--token-color-accent) !important;
}

.general-statistic .ant-statistic-title {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.7rem, 1.35vw, 1.35rem);
  font-weight: 400;
  color: var(--token-color-accent) !important;
}

::selection {
  background: var(--token-color-text);
  color: var(--token-color-primary);
}
